.gradle/
.idea/
SocialNetwork-FrontEnd.iml
app/build/generated/source/buildConfig/release/
app/build/generated/source/r/release/
app/build/intermediates/classes/
app/build/intermediates/dex/
app/build/intermediates/incremental/
app/build/intermediates/manifests/
app/build/intermediates/pre-dexed/
app/build/intermediates/res/
app/build/intermediates/resources/resources-release.ap_
app/build/outputs/
build.gradle
build/
gradle/
gradlew
gradlew.bat
import-summary.txt
local.properties
settings.gradle